.s-clients {
    width: 100%;
    background: url("../img/clients-bg.jpg") center no-repeat;
    background-size: cover;

    padding: 110px 0;

    @media screen and (max-width: $tablet-width) {
        padding: 60px 0;
    }
}

.s-clients__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;

    text-align: center;

    @media screen and (max-width: $mobile-width) {
        font-size: 18px;
    }
}

.s-clients__title {
    margin-top: 25px;

    font-size: 30px;
    font-weight: 700;
    color: #333333;

    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: $mobile-width) {
        font-size: 24px;
    }
}

.s-clients__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;
    margin-bottom: 0;

    background-color: #f38181;

    @media screen and (max-width: $mobile-width) {
        margin: 20px auto;
    }
}

.clients {
    display: flex;
    flex-wrap: wrap;

    margin-top: 25px;
}

.clients__item {
    width: 50%;
    margin-top: 70px;
    padding: 0 2%;

    display: flex;
    align-items: center;
    
    
    @media screen and (max-width: $tablet-width) {
        width: 100%;
        padding: 0;

        justify-content: center;
    }

    @media screen and (max-width: 400px) {
        flex-direction: column;
        align-content: center;

    }
}

.clients__info {
    @media screen and (max-width: 400px) {
        justify-content: center;
    }
}

.clients__photo {
    border: 1px solid transparent;
    border-radius: 50%;
    align-self: flex-start;
}

.clients__info {
    margin-left: 30px;
}

.clients__name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #656565;
}

.clients__prof {
    font-size: 15px;
    font-weight: 400;
    color: #585858;
    font-style: italic;
}

.clients__prof:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin-top: 15px;

    background-color: #f38181;
}

.clients__review {
    font-size: 15px;
    color: #b0b0b0;
    margin-top: 15px;
    text-align: start;
}