<footer class="footer">
    <div class="container">

        <div class="footer__inner">
            <div class="footer__col  footer__col--first">
                <div class="footer__logo">MoGo</div>
                <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>

                <div class="footer__social" id="contact">
                    <div class="footer__social-header">
                        <b>15k</b> followers
                    </div>
                    <div class="footer__social-content">
                        Follow Us:
                        <a href="#" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <form class="subscribe" action="/" method="post">
                    <input class="subscribe__input" type="email" name="name" placeholder="Your Email...">
                    <button class="subscribe__btn" type="submit">Subscribe</button>
                </form>
            </div><!-- /.footer__col -->

            <div class="footer__col  footer__col--second">
                <div class="footer__title">Blogs</div>

                <div class="blogs">
                    <div class="blogs__item">
                        <img class="blogs__img" src="assets/img/blogs1.jpg" alt="">
                        <div class="blogs__content">
                            <a class="blogs__title" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                            <div class="blogs__date">Jan 9, 2016</div>
                        </div>
                    </div>

                    <div class="blogs__item">
                        <img class="blogs__img" src="assets/img/blogs2.jpg" alt="">
                        <div class="blogs__content">
                            <a class="blogs__title" href="#">Lorem ipsum dolor</a>
                            <div class="blogs__date">Jan 9, 2016</div>
                        </div>
                    </div>

                    <div class="blogs__item">
                        <img class="blogs__img" src="assets/img/blogs3.jpg" alt="">
                        <div class="blogs__content">
                            <a class="blogs__title" href="#">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                            <div class="blogs__date">Jan 9, 2016</div>
                        </div>
                    </div>
                </div><!-- /.blogs -->
            </div>

            <div class="footer__col  footer__col--third">
                <div class="footer__title  footer__title--instagram">Instagram</div>

                <div class="instagram">
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="assets/img/instagram/insta1.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="assets/img/instagram/insta2.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="assets/img/instagram/insta3.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="assets/img/instagram/insta4.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="assets/img/instagram/insta5.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="assets/img/instagram/insta6.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="assets/img/instagram/insta7.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="assets/img/instagram/insta8.jpg" alt="">
                    </a>
                    <a class="instagram__item" href="#" target="_blank">
                        <img src="assets/img/instagram/insta9.jpg" alt="">
                    </a>
                </div>
            </div>

        </div><!-- /.footer__inner -->

        <div class="copyright">
            © 2016 MoGo free PSD template by <span>Laaqiq</span>
        </div>

    </div><!-- /.container -->
</footer>